body {
    margin-top: 200px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color:white;
    font-family: "Poppins",  sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: black;
    font-family: "Poppins",  sans-serif;
}

form {
    background-color: white;
    color: black;
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#age {
    width: 95%
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#result {
    color: red;
    font-size: 90px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 1.5;
}

@media screen and (min-width: 1500px) {
    
}

@media screen and (max-width: 800px) {
    form {
        width: 90%
    }

    #result {
        font-size: 55px;
        margin: 40px;
    }

    body {
        margin-top: 40px;
    }
}

#hidden-element{
    display: none;
}
